canvas {
  border: 2px solid purple;
}
#ins {
  background-color: orange;
  height:30px;
  width:50px;
  margin: 0;
  position: absolute;
  top: 95%;
  left: 53%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}
#number {
  margin: 0;
  position: absolute;
  top: 95%;
  left: 45%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.instext {
  position: absolute;
  top: 87%;
  left: 30%;
}
